h1{
    background-color: chocolate;
    color: beige;
    font-size: 40px;
}
h2{
    background-color: crimson;
    color: black;
    font-size: 30px;
}
h3{
    background-color: darkblue;
    color: cornsilk;
    font-size: 20px;
}
h4{
    background-color: lawngreen;
    color:black;
    font-size: 15px;
}